/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #0a0a0a;
    color: #fff;
    overflow-x: hidden;
}

/* Header Section */
#landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #0a0a0a, #330867);
    text-align: center;
    position: relative;
    overflow: hidden;
}

#landing-page .logo img {
    max-width: 200px;
    animation: logoFadeIn 2s ease-in;
}

#landing-page h1 {
    font-family: 'Cinzel', serif;
    font-size: 4em;
    margin-top: 20px;
    color: #ff0000;
    text-shadow: 0px 0px 20px #ff0000;
}

#landing-page p {
    margin-top: 20px;
    font-size: 1.5em;
    color: #bbb;
    text-shadow: 0px 0px 10px #550000;
}

/* Project Gallery */
.project-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-card {
    background-color: #222;
    margin: 20px;
    padding: 20px;
    width: 600px;  /* Set the width for thumbnails */
    height: 400px; /* Set the height for thumbnails */
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);
    transition: transform 0.5s ease;
    text-align: center;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-card:hover {
    transform: scale(1.05) translateY(-10px);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
}

/* Contact Form */
button[type="submit"] {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button[type="submit"]:hover {
    transform: scale(1.1);
    background-color: #cc0000;
}

/* Section Spacing */
.section {
    padding: 60px 20px;
    text-align: center;
    background-color: #0a0a0a;
}
